/** CSS STYLE **/
@font-face {
  font-family: 'Neucha-Regular';
  src: url(../assets/fonts/Neucha-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

.white-background {
  width: 100vw;

  background-color: #fff;
}

.brown-background {
  width: 100vw;

  background-color: #B09A81;
}

.primary-dark-background {
  position: relative;

  width: 100vw;

  background-color: #42413C;
}

.img-backgound {
  width: 100vw;
}

.img-background::before {
  position: absolute;
  top: 0;

  background-repeat: no-repeat;
  background-size: cover;
  content: url(../assets/background.png);
  opacity: 0.1;
}

.no-image-background {
  width: 100%;

  background-color: #fff;
  content: none;
}

.text-black {
  color: #2A2626;
}

.text-white {
  color: #FFFFFF;
}

.text-grey {
  color: #D7CCC0;
}

.text-orange {
  color: #FE8A02;
}

.primary-dark {
  color: #42413C;
}

.text-brown {
  color: #B09A81;
}

.regular-text {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

.rubric-title {
  margin: 0;

  font-family: 'Neucha-Regular', sans-serif;
  font-size: 24px;
  line-height: 28.8px;
}

.rubric-lead {
  font-family: 'Neucha-Regular', sans-serif;
  font-size: 34px;
  line-height: 1.2em;
}

.opensans-18px {
  padding-top: 38px;

  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 18px;
}

.opensans-14px {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  text-align: center;
}

.opensans-12px {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 12px;
}

iframe {
  position: relative;
  left: 96px;
  top: 229px;

  margin-left: auto;
  margin-right: auto;
  
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 2;
}

.flex-container {
  position: absolute;

  margin: 100px 0 0 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
}

.card {
  width: 302px;
  min-height: 299px;
  max-height: 300px;
  padding: 24px;
  margin: 20px 30px 0 0;

  background-color: #F5F4F0;
}

.fake-card {
  width: 350px;
  height: 323px;
  margin: 20px 30px 0 0;

  font-family: 'Neucha-Regular', sans-serif;
  font-size: 52px;
  line-height: 1.2em;
}

.card:hover {
  background-color: #FE8A02;
}

.card-number {
  margin: 0 0 40px 0;

  font-family: 'Neucha-Regular', sans-serif;;
  font-size: 64px;
  line-height: 1;

  color: #42413C;
}

.card:hover .card-number {
  color: #FFFFFF;
}

.card-header {
  font-family: 'Neucha-Regular', sans-serif;
  font-size: 34px;
  line-height: 1.2em;
  margin-bottom: 0;

  color:#FE8A02;
}

.card:hover .card-header {
  color: #FFFFFF;
}

.card-text {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.6em;

  color: #2A2626;
}

.card:hover .card-text {
  color: #FFFFFF;
}

.special-a {
  text-decoration: none;
}

.two-columns {
  column-count: 2;
  column-gap: 30px;
  break-inside: avoid;

  overflow: hidden;
}

.two-columns p {
  margin: 0;
}

.avoid-break {
  break-inside: avoid;
}

.rubric-aside {
  padding-left: 30px;
}

.rubric-img {
  display: block;
  width: 578px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.header-text-1 {
  position: absolute;
  top: 443px;

  width: 540px;
  margin-right: 30px;
}

.header-text-2 {
  position: absolute;
  top: 443px;
  left: 570px;

  width: 540px;
}

header {
  position: relative;

  min-height: 714px;
  padding: 100px 0; 
}

body {
  position: relative;

  width: 100vw;
  margin: 0 auto;

  overflow-x: hidden;
}

section {
  position: relative;
  
  display: block;
  width: 100vw;
  padding: 100px 0;
  margin: 0 auto;
}

.content-part {
  display: block;
  max-width: 1110px;
  margin: 0 auto 0 165px;
}

.position-absolute {
  position: absolute;
}

button {
  position: absolute;
  left: 570px;
  top: 665px;

  width: 148px;
  height: 49px;
  padding: 12px 24px;
  margin: 0;

  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: bold;
  color: #fff;

  background: #FE8A02;
  border: none;
}

.main-pic {
  position: absolute;
  top: -45px;
  left: 296px;
  
  width: 1082.81px;
  height: 525px;

  z-index: 100;
}

h1 {
  position: absolute;

  margin: 0;

  font-family: 'Neucha-Regular', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.2em;
  white-space: nowrap;

  z-index: 200; 
}


h2 {
  margin: 0 0 30px 0;

  font-family: 'Neucha-Regular', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2em;
}

.middle-header {
  position: absolute;
  left: 163px;

  width: 782.96px;
  height: 73px;
  margin: 0 auto;

  font-family: 'Neucha-Regular', sans-serif;
  font-size: 60px;
  line-height: 1.2em;
  text-align: center;
}

h3 {
  width: 1110px;
  height: auto;
  padding: 5px 0 5px 10px;
  margin: 100px 0 20px 0;

  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;

  column-span: all;
}

.header-52px {
  margin: 0;

  font-family: 'Neucha-Regular', sans-serif;
  font-size: 52px;
  line-height: 1.2em;
}

.video-description {
  position: absolute;
  top: 173px;

  width: 1110px;
  height: 26px;
  margin: 0;

  text-align: center;
}

.raised-section {
  position: relative;

  min-height: 891px;

  z-index: 1;
}

.short-section {
  min-height: 614px;
}

footer {
  position: relative;

  width: 100vw;
  min-height: 581px;
  margin-top: 100px;

  background: #FFFFFF;
}

.footer-section {
  position: relative;

  width: 1100px;
  min-height: 190px;
  margin-top: 100px;
}

.footer-subscribe {
  margin: 55px;
}

input {
  width: 408px;
  height: 20px;
  padding: 15px;
  margin: 9px 0;

  font-size: 13px;

  color: #757575;
  border-radius: 0;
  border: none;
}

.email-form {
  break-inside: avoid;
}

.submission-form {
  position: absolute;
  top: 72px;
  left: 985px;

  display: block;
  width: 70px;
  height: 50px;

  background: #FE8A02;
}

.submission-form::before {
  margin: 0 auto;

  content: url(../assets/send.svg);
}

.white-a {
  color: #fff;
}

.hello {
  display: block;

  color: #fff;
}



